@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #0669e2;
}

body {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100vw;
  background-color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 60px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

nav ul {
  display: none;
  gap: 10px;
  list-style-type: none;
}

nav ul li a {
  color: var(--bg);
  text-decoration: none;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.logo h1 {
  text-transform: uppercase;
  color: var(--bg);
}
.logo span {
  color: #333;
}
.logout {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 5px;
  color: var(--bg);
}
.menu-btn {
  color: var(--bg);
  font-weight: 500;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

.mobile-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  /* border: 1px solid #333; */
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 180px;
  gap: 1rem;
}

main {
  width: 100%;
  height: 100vh;
  padding: 32px;
  margin-bottom: 40px;
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 40px;
}

form h3 {
  text-transform: uppercase;
}
form input {
  width: 100%;
  padding: 15px;
  border: 1px solid darkgray;
  border-radius: 5px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form button {
  padding: 10px;
  background-color: var(--bg);
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
}
.user-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  gap: 1rem;
  /* color: red; */
  background-color: #0669e2;
  border-radius: 15px;
  padding: 1rem;
  color: #fff;
}
.profile-el {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-el p {
  font-size: medium;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-details img {
  width: 100px;
  border-radius: 50%;
  border: 2px solid darkgray;
}
#error {
  color: red;
  display: none;
}
#error1 {
  color: red;
  display: none;
}
#success {
  color: green;
  display: none;
}
#success1 {
  color: green;
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .logout {
    display: flex;
  }

  .dash-head {
    font-size: 20px;
  }
  .user-details {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: left;
    gap: 30px;
    align-items: center;
  }
  .user-details img {
    width: 130px;
  }

  form {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  form button {
    width: 250px;
    margin: 0 auto;
    margin-top: 30px;
  }
  form div {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 10px;
  }
  .menu-btn {
    display: none;
  }
  .logout {
    display: flex;
  }
  .mobile-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  nav {
    max-width: 1100px;
    margin: 0 auto;
  }
  nav ul {
    display: flex;
  }
  main {
    max-width: 1100px;
    margin: 0 auto;
  }
}
