@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #0669e2;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100vw;
  background-color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
nav ul {
  display: none;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--bg);
  font-weight: 500;
  text-transform: capitalize;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #333;
}

.logo h1 {
  text-transform: uppercase;
  color: var(--bg);
}
.logo span {
  color: #333;
}

.card-btns {
  display: none;
}

.card-btns button:nth-child(1) {
  background-color: var(--bg);
  border: none;
  padding: 10px 25px;
  border-radius: 10px 0 10px 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.card-btns button:nth-child(2) {
  border: 1px solid var(--bg);
  background-color: transparent;
  padding: 10px 25px;
  border-radius: 10px 0 10px 0;
  color: var(--bg);
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.menu-btn {
  color: #333;
  font-weight: 600;
  cursor: pointer;
}

.action-btns {
  display: flex;
  gap: 10px;
  align-items: center;
}

.action-btns a {
  display: flex;
  align-items: center;

  color: #333;
  text-decoration: none;
}

.action-btns a span {
  font-weight: 200;
  color: var(--bg);
}
.action-btns a p {
  color: var(--bg);
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 15px;
}

.hero img {
  width: 100%;
}

.hero-text {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #333;
}

.hero-text span {
  color: var(--bg);
}

.hero-text a {
  color: var(--bg);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  border: 1px solid var(--bg);
  padding: 10px;
  width: 400px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px 0 10px 0;
}

.start {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 15px;
  gap: 15px;
  margin-top: 40px;
}
.start h3 {
  text-transform: uppercase;
  font-weight: 500;
}

.dir {
  display: grid;
  gap: 15px;
}

.item {
  border: solid 1px var(--bg);
  border-radius: 10px 0px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
  color: #333;
}

.item h4 {
  text-transform: capitalize;
  color: var(--bg);
}

.start small {
  color: darkgray;
  text-align: justify;
}

.budget {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 40px;
  padding: 15px;
  gap: 15px;
  margin-top: 70px;
}

.budget img {
  border-radius: 50%;
  border: 1px solid var(--bg);
}

.budget div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.budget-text {
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.budget-text h3 {
  color: var(--bg);
  font-family: "Oswald", sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 15px;
  gap: 15px;
  margin-top: 40px;
  color: darkgray;
  font-family: "Oswald", sans-serif;
}

.phone {
  display: flex;
  align-items: center;
  gap: 10px;
}
.phone p {
  font-weight: 200;
  font-size: 12px;
}
.copy {
  text-align: center;
  padding: 15px;
}

.copy span {
  color: var(--bg);
}

.social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icons i {
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .card-btns {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .menu-btn {
    display: none;
  }
  .dir {
    grid-template-columns: repeat(2, 1fr);
  }
  .budget {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 150px;
  }
  .budget-text {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1000px) {
  nav {
    max-width: 1100px;
    margin: 0 auto;
  }
  .hero {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 100px;
  }
  .hero div {
    width: 50%;
  }
  .start {
    max-width: 1100px;
    margin: 0 auto;
  }
  .budget {
    max-width: 1100px;
    margin: 0 auto;
  }
  .dir {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer {
    max-width: 1100px;
    margin: 0 auto;
  }
  nav ul {
    display: flex;
  }
}
