@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #0669e2;
}

body {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100vw;
  background-color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 60px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

nav ul {
  display: none;
  gap: 10px;
  list-style-type: none;
}

nav ul li a {
  color: var(--bg);
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.logo h1 {
  text-transform: uppercase;
  color: var(--bg);
}
.logo span {
  color: #333;
}
.logout {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 5px;
  color: var(--bg);
}
.menu-btn {
  color: var(--bg);
  font-weight: 500;
}

.mobile-menu {
  display: none;
}

.mobile-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 180px;
  gap: 1rem;
}

main {
  background-color: rgba(166, 189, 218, 0.063);
  width: 100%;
  height: calc(100vh - 60px);
  padding: 15px;
  border-radius: 5px;
  color: #333;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.head h3 {
  text-transform: capitalize;
  font-weight: 500;
}

.head .title small {
  font-weight: 100;
}

.head-bal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  font-size: 20px;
}
.head-bal span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.head-bal span p {
  text-align: center;
  font-weight: 100;
  font-size: 0.7rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 16px;
}

.body h3 {
  border-bottom: 1px solid var(--bg);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.trans {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 15px;
  font-size: 12px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.trans:nth-of-type(even) {
  background-color: hsla(213, 56%, 77%, 0.121);
}

.balance {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.balance span:nth-child(1) {
  color: green;
}
.balance span:nth-child(2) {
  /* margin-left: 5px; */
  color: darkgray;
}

.title {
  font-size: 18px;
}

.debit {
  color: red;
}

.credit {
  color: green;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .logout {
    display: flex;
  }
  .mobile-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  nav {
    max-width: 1100px;
    margin: 0 auto;
  }
  main {
    max-width: 1100px;
    margin: 0 auto;
    background-color: transparent;
  }
}
